{% extends 'base.html.twig' %}

{% block css_page %}css_landing{% endblock %}

{% block body %}
    <div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
            <h1 class="title">
                Coming Soon
            </h1>
            <h2 class="subtitle">
                $this is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses around the world.
            </h2>
            <div class="box">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Enter your email">
                    </p>
                    <p class="control">
                        <a class="button is-info">
                            Notify Me
                        </a>
                    </p>
                </div>
            </div>

            <div class="box">
                <h2>Sets for "Star Wars"</h2>
                <div class="js-sets">
                </div>
            </div>

            <div class="box">
                <h2>Images for "Star Wars"</h2>
                <div class="js-sets-images"></div>
            </div>

            <div class="box">
                <h2>Subthemes for "Star Wars"</h2>
                <ul class="js-subthemes">
                </ul>
            </div>

            <div class="box">
                <h2>All themes</h2>
                <ul class="js-themes">
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="application/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}