html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  background-color: $dark;
}

a {
  color: $white;
}
a:hover {
  color: $info;
  border-bottom: 1px dotted $info;
}

#mainNavbar{
  #navbarMenu {
    a:hover,
    .navbar-dropdown a:hover {
      color: $white;
      background-color: $info;
      border-bottom: none;
    }

    .navbar-item.is-current{
      color: $white;
      background-color: $info;
    }

    .navbar-dropdown {
      background-color: $dark !important;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
      border-left: 1px solid $white;
    }

    .navbar-dropdown a {
      color: $white;
      background-color: $dark;
    }

    a.is-active {
      color: $white;
      background-color: $info;
    }
  }
}

.is-border-bottom {
  border-bottom: 1px solid $white;
}

.footer {
  background-color: $dark;
  border-top: 1px solid whitesmoke;
}

a.pagination-link:hover,
a.pagination-previous:hover,
a.pagination-next:hover {
  background-color: $white !important;
  color: $info !important;
}
