<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {{ encore_entry_link_tags('style') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

        {% include 'menu.html.twig' %}

        <section id="{% block css_page %}{% endblock %}" class="{% block css_page_class %}hero is-fullheight-with-navbar{% endblock %}">
            <div class="hero-body">
                {% block body %}{% endblock %}
            </div>
        </section>

        <footer class="footer is-dark">
            <div class="has-text-centered has-text-white">
                <p>Test moi please</p>
            </div>
        </footer>

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
