{% extends 'base.html.twig' %}

{% block title %}{{ 'link.legotheque'|trans|capitalize }}{% endblock %}

{% block css_page %}css_default{% endblock %}

{% block body %}
    <section class="section">
        <div class="container has-text-white is-size-3 is-border-bottom">
            <h2>{{ 'link.legotheque'|trans|upper }}</h2>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>


                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a>#css</a>
                                <a>#responsive</a>
                                <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}